.advantages {


    &__row {
        display: flex;
        justify-content: space-between;

        position: relative;
        top: -10rem;
        
        @include breakpoint($tablet-bp) {
            flex-wrap: wrap;
        }
        @include breakpoint($mobile-bp) {
            flex-direction: column;
            
        }

    }

    &__item {
        background: $white;
        box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
        border-radius: 4px;
        text-align: center;
        width: 24%;
        overflow: hidden;

        padding: 4.7rem 0 4.3rem 0;



        @include breakpoint($tablet-bp) {      
            flex-wrap: wrap;
            flex-basis: 48%;
            margin-bottom: 4%;    
        }

        @include breakpoint($mobile-bp) {
            width: 100%;
            
        }
    }

    &__value {
        font-weight: bold;
        font-size: 5.2rem;
        line-height: 7.8rem;
        color: $color-text;

        @include breakpoint($laptop-bp) {
            font-size: 4.2rem;
        }
    }

    &__description {
        font-weight: normal;
        font-size: 2.0rem;
        line-height: 3.0rem;
        color: $color-text;
    }
}

