.footer {
        background: #122791;

    &__wraper {
        display: flex;
        justify-content: space-between;

        color: $white;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: 0em;

        padding: 3.2rem 0;

        @include breakpoint($laptop-bp) {
            padding: 2.2rem 0;
        }
        @include breakpoint($mobile-bp) {
            flex-direction: column;
            text-align: center;
        }
        
    }

    &__rights {

        opacity: 0;
        transform: scale(0); 
        transition: 1.5s;

        &._active {
       
            opacity: 1;     
            transform: scale(1);      
        }

        @include breakpoint($laptop-bp) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
        @include breakpoint($mobile-bp) {
            margin: 2rem 0 2rem 0;

        }
    }


    &__agreement {
        opacity: 0;
        transform: scale(0); 
        transition: 1s;

        &._active {     
        opacity: 1;     
        transform: scale(1);      
        }
    }


    &__mail {
        opacity: 0;
        transform: scale(0); 
        transition: 1.9s;

        &._active {  
        opacity: 1;     
        transform: scale(1);      
        }
    }
}

