.main-screen{
        background: url(../../assets/images/bg.png) center/cover no-repeat;
        height: 100vh;

    &__title {
        padding-bottom: 5px;
    }

    &__description {
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.01em;

        padding-bottom: 62px;
    }

    &__subtitle {      
        padding: 182px 0 10px 0;
    }

    &__signup {
        display: flex;
        align-items: center;
    }


    &__statistics {
    img {
        width: 3.8rem;
        height: 2.4rem;

        margin-right: 0.5rem;
        padding-left: 2.4rem;
    }
    p {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #343A40;
    
    }
    }   
}