.main-screen{
        background: url(../../assets/images/bg.png) center/cover no-repeat;
        height: 100vh;

    &__title {
        padding-bottom: 0.5rem;

        transform: translate(0px, 120%);
        opacity: 0;
        transform: scale(0); 
        transition: 1.4s;

    &._active {        
            opacity: 1;     
            transform: scale(1);      
        }
    }

    &__description {
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.01em;

        padding-bottom: 6.2rem;

        transform: translate(0px, 120%);
        opacity: 0;
        transform: scale(0); 
        transition: 1.8s;

        &._active {        
            opacity: 1;     
            transform: scale(1);      
        }

        @include breakpoint($tablet-bp) {
            padding-bottom: 15rem;
            
        }

        @include breakpoint($mobile-bp) {
            font-size: 1.8rem;
            
        }
    }

    &__subtitle {      
        padding: 18.2rem 0 1rem 0;

        transform: translate(0px, 120%);
        opacity: 0;
        transform: scale(0); 
        transition: 1.4s;

        &._active {        
            opacity: 1;     
            transform: scale(1);      
        }

        @include breakpoint($tablet-bp) {
            padding: 10.2rem 0 1rem 0;
            
        }
    }

    &__button {
        opacity: 0;
        transform: scale(0); 
        transition: 1.8s;

        &._active {        
            opacity: 1;     
            transform: scale(1);      
        }

        @include breakpoint($tablet-bp) {
            width: 100%;
            
        }
        img {
            @include breakpoint($mobile-bp) {
                width: 40px;        
            }
        }
    }

    &__signup {
        display: flex;
        align-items: center;

        @include breakpoint($tablet-bp) {
            flex-direction: column;
            padding: 0 0;
            width: 100%;
        }

    }
    &__statistics {
        opacity: 0;
        transform: scale(0); 
        transition: 1.8s;

        &._active {        
            opacity: 1;     
            transform: scale(1);      
        }

        img {
            width: 3.8rem;
            height: 2.4rem;

            margin-right: 0.5rem;
            padding-left: 2.4rem;
        }
        p {
            display: inline-block;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #343A40;
        
        }

        @include breakpoint($tablet-bp) {
            margin-top: 1.2rem;
            
        }
    }   
}